.homecard{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../../images/holo.png");
    width:30vw;
    height:10rem;
    border-radius: 15px;
    margin-left: 2rem;
}
.homecard h1{color:white;
font-size: 2rem;
text-align: center;
justify-self: center;
margin-top:4rem}
@media(max-width:700px)
{
    .homecard{
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../../images/holo.png");
        width:80vw;
        height:10rem;
        border-radius: 15px;
        margin-left: 2rem;
        margin-top: 2rem;
    }
    .homecard h1{color:white;
    font-size: 1.6rem;
    text-align: center;
    justify-self: center;
    margin-top:4rem}
}